.page-container .movie-info-container{
    color: #1e1e1e !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.movie-info-col {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: #f9f9f9;
    padding: 50px;
    box-sizing: border-box;
    top: 400px;
}

.movie-info-col h1 {
    font-size: 50px;
    font-weight: 400;
}

.movie-info-col .subheading {
    font-size: 30px;
    font-weight: 400;
}

.movie-info-container .banner {
    width: 100%;
    height: 600px;
}

.movie-info-container .title {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 450px;
    left: 12.5%;
    width: 75%;
    font-size: 35px;
    color: white;
    justify-content: space-between;
}

.movie-info-container .banner img {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    display: block;
}

.movie-info-col .info {
    width: 60%;
}

.movie-info-col .info .text-box {
    width: 60%;
    color: gray;
}

.movie-info-col .image {
    width: 40%;
}

.movie-info-col .image img {
    margin-top: 50px;
    width: 100%;
    object-fit: contain;
}

.movie-info-col .genre {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: transparent;
    color: black;
}

.movie-info-col .company-logo {
    width: 100px;
    height: 40px;
}

.movie-info-col .actor-image {
    width: 100px;
    height: 140px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.company-container {
    display: block;
    flex-wrap: wrap;
    width: 19%;
}

.movie-info-col .row-box {
    align-items:flex-start;
}

@media (width < 1650px) {
    .movie-info-container .banner {
        height: 400px;
    }

    .movie-info-container .title {
        top: 300px;
        font-size: 25px;
    }
}

@media (width < 1268px) {
    .movie-info-col {
        flex-direction: column-reverse;
        width: 85%;
    }

    .movie-info-col .info {
        width: 100%;
    }

    .movie-info-col .image {
        display: none;
    }

    .movie-info-container .title {
        top: 300px;
        font-size: 22px;
        width: 85%;
        left: 7.5%;
    }
}

@media (width < 768px) {
    .movie-info-col {
        width: 90%;
        padding: 15px;
    }

    .movie-info-col .info .text-box {
        width: 100%;
        color: gray;
    }

    .movie-info-container .title {
        top: 375px;
        font-size: 12px;
        width: 90%;
        left: 5%;
    }

    .company-container {
        width: 46%;
    }
}

